
.classpath

.project

*.prefs

target/classes/application.conf

*.class

*.lst

target/tomcat/logs/access_log.2014-07-29

target/tomcat/conf/web.xml

target/tomcat/conf/tomcat-users.xml

target/tomcat/conf/logging.properties
